.env

# Typical Structure for Web App if used in same repo for web ui/ux interface
app/storage/
public/storage
public/build
public/hot
storage/pail
public_html/storage
public_html/hot
bootstrap/compiled.php

/vendor/
node_modules/
npm-debug.log
yarn-error.log

storage/*.key

Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

.env.backup
.env.production
.phpactor.json
auth.json
